@import "../global.css";

/* IMPORTANDO FONTES EXTERNAS */
@font-face {
    font-family: "Beaufort for LOL";
    font-size: 700;
    src: url("../BeaufortForLOL/beaufortforlol-heavy.otf");
}

@font-face {
    font-family: "Beaufort for LOL";
    font-size: 500;
    src: url("../BeaufortForLOL/beaufortforlol-medium.otf");
}

.main {
    background-color: #010a13;
    font-family: "Beaufort for LOL";
    font-weight: 700;
    font-size: 30px;
}

.main.client {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 223px;
    grid-template-areas:
        "header header"
        "geral social";
    grid-template-rows: max-content;
}

.geral {
    width: 100%;
    height: 100%;
    background-color: #010a13;
    grid-area: geral;
    overflow: hidden;
}

.header-client {
    grid-area: header;
    height: 68px;
    padding: 0 1rem;
    border-bottom: 1px solid #343d44;
    border-top: 3px solid #6f5d39;
    background-color: #010a13;
}

.header-client a,
.header-client h6,
.header-client img:nth-of-type(2) {
    margin: 0 0.5rem;
}

.header-client img:nth-of-type(1) {
    margin-right: 0.6rem;
}

.header-client h6 {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.header-client button {
    height: 100%;
    color: #d2c195;
    background-color: transparent;
    border: none;
}

.header-client button:hover {
    transition: 3s;
    background: linear-gradient(transparent, #c2bbb24d);
}

.icones {
    margin-left: 90px;
}

.icones img {
    margin: 0 0.5rem 0.5rem;
}

.botao-inicio {
    position: relative;
}

.ativo {
    position: relative;
    background: linear-gradient(transparent, #c2bbb24d);
}

.ativo::before {
    content: " ";
    background-image: url(../client/img/header/decorador.svg);
    position: absolute;
    height: 13px;
    width: 25px;
    top: -2px;
    left: calc(50% - 12.5px);
}

.header {
    position: absolute;
    top: 68px;
    align-items: center;
    justify-content: space-between;
    width: 78.2%;
    height: 50px;
    padding: 1.2rem;
    background: linear-gradient(#010a1bc2, transparent);
    font-family: "Beaufort for LOL";
    font-weight: 500;
    font-size: 12px;
    color: #d2c195;
    z-index: 5;
}

.header-inicio {
    background: linear-gradient(#010a1bc2, transparent);
}

.header-destaques,
.header-campeoes {
    background-color: #010a13;
}

.header-destaques-botoes button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #3f5996;
    color: #d2c195;
    background-color: #1e2328;
    border: 2px solid #c8a765;
}

.header-destaques-botoes img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
}

.header-destaques-botoes button:first-of-type,
.prime button {
    width: initial;
    padding: 0.1rem 1rem;
    border-radius: initial;
    border: none;
    background-color: #1e2328;
    border: 2px solid #c8a765;
    font-size: 14px;
    letter-spacing: 1px;
    color: #d2c195;
    margin-top: 0;
}

.header-destaques li:first-of-type {
    border-bottom: 1px solid #f0e7cf;
    color: #f0e7cf;
}

.header-inicio li:nth-of-type(2) {
    border-bottom: 1px solid #f0e7cf;
    color: #f0e7cf;
}

.header-campeoes li:nth-of-type(2) {
    border-bottom: 1px solid #f0e7cf;
    color: #f0e7cf;
}

.header li:hover {
    color: #f0e7cf;
}

.decorador {
    width: 1px;
    height: 40px;
    background-color: rgba(233, 198, 132, 0.274);
    margin: 0 1.4rem;
    margin-left: 0.5rem;
    border-radius: 170%;
}

.carrossel-inicio {
    position: absolute;
    top: 100px;
    left: 45%;
}

.desenvolvido {
    width: 390px;
    padding: 2rem;
    border-radius: 40px;
    background: rgba(177, 177, 177, 0.295);
    -webkit-backdrop-filter: blur(23px);
    backdrop-filter: blur(23px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    text-shadow: 1px 2px 1px #00000049;
}

.info-devs {
    display: flex;
}

.devs {
    width: 50%;
    text-align: center;
}

.devs h3 {
    font-size: 19px;
}

.direitos {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
}

.essencia-azul,
.rp {
    font-size: 14px;
    font-weight: 500;
}

.essencia-azul::before {
    content: url(./img/header/essencia-azul.png);
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 2px;
}

.rp::before {
    content: url(./img/header/rp.png);
    vertical-align: middle;
    margin-right: 8px;
}

/* social */
.social {
    grid-area: social;
    display: grid;
    grid-template-rows: 22px auto 37px;
    align-items: flex-start;
    max-width: 100%;
    height: 100%;
    background-color: #010a13;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #4b5258;
    overflow-y: scroll;
}

.social header {
    padding-left: 10px;
    font-family: "Beaufort for LOL";
    font-weight: 700;
    font-size: 13px;
    color: #d1bd8f;
}

.social header img {
    margin: 2px;
}

.wrapper-pastas {
    height: 100%;
    overflow-y: scroll;
}

.btn {
    width: 100%;
    padding: 5px 10px;
    border: none;
    font-family: "Beaufort for LOL";
    font-weight: 700;
    font-size: 12px;
    text-align: left;
    color: #929994;
}

.btn:hover,
.btn:focus {
    color: #929994;
}

.social-box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 12px;
}

.social-box p {
    margin: 0;
}

.social-box p:last-of-type {
    font-size: 12px;
}

.social-img {
    box-sizing: border-box;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #976f3d;
}

.social footer > * {
    width: 100%;
    margin: 2px;
    padding: 0.3rem 0.46rem;
    border: 1px solid #aa814a;
    background-color: #1e2328;
    font-family: "Beaufort for LOL";
}

/* social - status */
.status {
    position: relative;
}

.online {
    color: #057733;
}

.online::before {
    content: "";
    position: absolute;
    left: -19px;
    bottom: 4px;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-image: url(./img/social/status/online.svg);
}

.header-client .online::before {
    position: initial;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    vertical-align: top;
    background-size: contain;
}

.azul {
    color: #0ab4b0;
}

.azul::before {
    content: "";
    position: absolute;
    left: -19px;
    bottom: 4px;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-image: url(./img/social/status/em-partida.svg);
}

.offline::before {
    content: "";
    position: absolute;
    left: -19px;
    bottom: 4px;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-image: url(./img/social/status/offline.svg);
}

.lol-plus::before {
    content: "";
    position: absolute;
    left: -19px;
    bottom: 4px;
    width: 15px;
    height: 12px;
    background-size: cover;
    background-image: url(./img/social/status/lol-plus.svg);
}

.ausente::before {
    content: "";
    position: absolute;
    left: -19px;
    bottom: 4px;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-image: url(./img/social/status/ausente.svg);
}

/* LOJA */
.menu-filtros {
    max-width: 180px;
    width: 100%;
    background-color: transparent;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    background-color: rgb(0, 13, 24);
    font-family: Roboto;
    text-align: center;
    border-radius: 0;
}

.card-info-bg {
    position: absolute;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 99%;
    height: 40%;
    padding: 2px;
    background: linear-gradient(transparent, #000);
}

.card-info-bg span {
    display: flex;
    gap: 14px;
}

.card-info-bg span p {
    color: #ac957e;
}

.card-info-bg p {
    color: #fff;
}

.preco-rp::before {
    content: url("./img/loja/rp-12.png");
    margin: 6px;
    vertical-align: middle;
}

.preco-ea::before {
    content: url("./img/loja/essencia-azul-12.png");
    vertical-align: middle;
    margin: 4px;
    height: 10px;
}

/* scrollbars */
.grid-destaques::-webkit-scrollbar,
#grid-campeoes::-webkit-scrollbar,
.social::-webkit-scrollbar {
    width: 0;
}

.wrapper-pastas::-webkit-scrollbar {
    width: 6px;
}

.wrapper-pastas::-webkit-scrollbar-track {
    background: #ffffff00;
}

.wrapper-pastas::-webkit-scrollbar-thumb {
    background-color: #1d2327;
    border-radius: 20px;
    border: 7px solid #ffffff00;
}

/* selo de promoção */
.promocao-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.promocao-25:before,
.promocao-30:before,
.promocao-40:before,
.promocao-45:before,
.promocao-50:before,
.promocao-55:before,
.promocao-60:before {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #f0f0f0;
    z-index: 5;
    font-weight: 400;
    font-family: initial;
    font-size: 13px;
}

.promocao-25:before {
    content: "-25%";
}

.promocao-30:before {
    content: "-30%";
}

.promocao-40:before {
    content: "-40%";
}

.promocao-45:before {
    content: "-45%";
}

.promocao-50:before {
    content: "-50%";
}

.promocao-55:before {
    content: "-55%";
}

.promocao-60:before {
    content: "-60%";
}

.links-desabilitados {
    cursor: not-allowed !important;
}
