@import "../global.css";

.img {
    position: absolute;
    z-index: 9999;
    inset: 50% 50%;
    transform: translate(-50%, -50%);
}

.main {
    background-color: #010a13;
    visibility: hidden;
}

.client > div.loader:after {
    flex: 1;
    background-color: #010a13;
}

/* social */
.social {
    display: flex;
    min-height: 100%;
    width: 100%;
    max-width: 250px;
    background-color: #030e17;
}

header {
    position: absolute;
    width: 1024px;
    height: 68px;
    background-color: #02111b;
    border-bottom: 1px solid #343d44;
    border-top: 3px solid #6f5d39;
}

/* loader */
.loader {
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #0ab4b0;
    background: linear-gradient(to right, #0ab4b0 10%, #ffffff00 42%);
    position: relative;
    animation: load3 1.2s infinite linear;
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #0ab4b0;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.loader:after {
    background: #030e17;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
