body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-size: 14px;
    cursor: default;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.fs-7 {
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

button {
    outline: none;
}

.main {
    display: flex;
    width: 1024px;
    height: 576px;
    margin: auto;
    background-color: #010a13;
    font-family: "Beaufort for LOL";
}

select,
input,
card,
p:not(.rp, .essencia-azul, .p-social),
label {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
}
