:root {
    --fundo-principal: #010a13;
    /* LOGIN */
    --cor1: #fff;
    --cor2: #f2f2f2;
    --cor3: #ededed;
    --cor4: #ddd;
    --cor5: #bebebe;
    --cor6: #c1c1c1;
    --cor7: #a1a1a1;
    --cor8: #9e9e9e;
    --cor9: #919191;
    --cor10: #838383;
    --cor11: #636363;
    --cor12: #252525;
    --cor13: #1a1a1aa4;
    --cor14: #141414;
    --cor15: #000;
    --cor16: #d13639;
    --cor17: #c73033;
    --cor18: #b513c4;
    --cor19: #1877f2;
    /* CLIENT */
    --cor20: #f9f9f9;
    --cor21: #d2c195;
    --cor22: #929994;
    --cor23: #2eb7c8;
    --cor24: #929994;
    --cor25: #4b5258;
    /* LOADING */
    --cor26: #01070c;
    --cor27: #030e17;
    --cor28: #02111b;
    --cor29: #ffffff00;
    --cor30: #0ab4b0;
    --cor31: #1d2327;
}
