.main {
    height: 509px;
    padding: 1.2rem;
    padding-top: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-destaques {
    display: grid;
    grid-template-columns: repeat(5, minmax(130px, 1fr));
    grid-template-rows: 150px 150px 90px 40px 150px;
    grid-auto-rows: 150px;
    grid-template-areas:
        "carrossel carrossel carrossel . . "
        "carrossel carrossel carrossel . . "
        "prime prime prime prime prime"
        "populares populares populares populares populares"
        ". . . . . "
        ". . . . . ";
    gap: 0.5rem;
    background-image: url(../../../client/img/loja/Group\ 5.png);
    background-size: cover;
}

/* CARROSSEL */
#carrossel {
    box-sizing: border-box;
    height: 308px;
    margin: 0 auto;
    border: 1px solid #f5f5dc6c;
    grid-area: carrossel;
}

#carrossel img {
    width: 100%;
    height: 306px;
    object-fit: cover;
}

#carrossel span {
    font-size: 12px;
    color: #d2c195;
}

.carousel-indicators [data-bs-target] {
    height: 30px;
    border: 2px solid #515b6d;
    background-color: #020b20;
    color: bisque;
    margin: 0 5px;
    width: 20px;
    height: 20px;
}

.carousel-indicators {
    justify-content: end;
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
}

.carousel-indicators .active {
    border: 2px solid beige;
}

.carousel-caption {
    width: 100%;
    left: 0;
    padding-bottom: 3rem;
    padding-left: 1rem;
    text-align: left;
    bottom: 0;
    background-color: #08153f;
    background: linear-gradient(180deg, transparent  0%, #010a1bba 45%);
}

.carousel-caption h2 {
    font-weight: 700;
}

.carousel-caption p {
    margin-bottom: 0;
}

.carousel-item {
    font-size: 14px;
}

p {
    font-family: Roboto;
    font-weight: normal;
    color: #b8b8b8;
    font-size: 12px;
}

/* PRIME GAMING */
.prime {
    box-sizing: border-box;
    grid-area: prime;
    margin-top: 10px;
    height: 70px;
    width: 100%;
    border: 1px solid #80808078;
    background-color: #010a14bd;
    color: #f5f0ec;
}

.prime img:first-child {
    position: relative;
    top: 0px;
    width: 200px;
    height: max-content;
}

.prime img:last-child {
    width: 110px;
}

.prime button {
    margin-right: 10px;
}

.separador {
    height: 50%;
    width: 1px;
    background-color: #3b4352;
    margin: 0 10px;
}

/* MAIS POPULARES */
.mais-populares {
    grid-area: populares;
    margin-top: 10px;
    border-bottom: 2px solid #6f5d39;
    color: #f5f0ec;
}

/* selo de promoção */
.card[data-promocao]::before {
    position: absolute;
    color: #f0f0f0;
    font-family: sans-serif;
    font-size: 12px;
    padding: 0.6rem 0.3rem;
    background: url("../../img/loja/desconto.png") no-repeat center;
    background-size: contain;
}

.card[data-promocao]::before {
    content: "-" attr(data-percPromocao) "%";
}

.card.destaques-conjunto::before {
    content: url("../../img/loja/tempo-limitado.png");
    display: block;
    position: absolute;
    left: 4px;
    height: auto;
}

.card.impacto-social::after {
    content: url("../../img/loja/impacto-social.png");
    display: block;
    position: absolute;
    right: 4px;
    height: auto;
}

.carousel-indicators-numbers li {
}
